html, body {
    height: 100vh;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

img {
    height: 100%;
    width: auto;
}

div {
    width: 100%;
}

.container {
    display:flex;
}
div.container {
    flex-direction: column;
}
span.container {
   flex-direction: column; 
   padding-right: 2em;
}

.gray {
    min-height: 33%;
}

.sign-up {
    min-height: max-content;
    padding: 1em 2em;
    background-color: white;
}

input {
    border-radius: 2px;
    border: solid rgb(234, 232, 232) 1px;
}

h2 {
    margin-bottom: 1em;
    margin-top:0;
}